.topnav{
    background-color: rgb(40, 46, 48);
    overflow: hidden;
    position:absolute;
    top: 0%;
    width: 100%;
    left:0%
}

.topnav a{
    float:none;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 16px;
    text-decoration:none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    list-style-type: none;
    
    

}
.topnav a:hover {
    background-color: rgb(95, 100, 102);
    color: rgb(255, 255, 0);
  }

*{
    box-sizing: border-box;
}

body,html{
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 70px;
    text-transform: uppercase;
    margin: 0%;
}
.bannerimg{
    background-image: url(sources/background.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(5px);

}
.intro{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    border: 10px inset #fff;
}
.intro p{
    padding: 0% 8%;
    font-family:'Raleway', sans-serif;;
}
.intro a{
    display: inline-block;
    padding: 10px 50px;
    border: 2px solid #fff;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
}